.layout {
    width: 100%;

    >main {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        margin         : auto;
    }

    >footer {
        background-color: #fafbfc;
        border-top      : 1px solid #e4e8eb;
        text-align      : center;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        margin          : auto;
        margin-top      : 16px;
        padding         : 16px;
        padding-bottom  : 16px;
        font-size       : 12px;

        >.aside-container {
            margin-top: 16px;

            a:hover,
            a:focus {
                animation-duration       : 3s;
                animation-name           : rainbowLink;
                animation-iteration-count: infinite;
            }
        }
    }

    @keyframes rainbowLink {
        0% {
            color: red;
        }

        15% {
            color: orange;
        }

        30% {
            color: yellow;
        }

        45% {
            color: green;
        }

        60% {
            color: blue;
        }

        75% {
            color: navy;
        }

        90% {
            color: purple;
        }

        100% {
            color: pink;
        }
    }
}